body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    margin-top: 100px;
}

/* Animated Header Styling */
.animated-header {
    background:	#1c1c84;
    color: #fff;
    padding: 1px 0; /* Decrease the padding to reduce the height */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    animation: slideIn 0.5s ease-in;
}


@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 100px;
}

.navigation .nav-links {
    list-style: none;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.2s, transform 0.2s;
    /* Add transition for color and transform */
}

/* Add hover animation for the navigation buttons */
.nav-links a:hover {
    color: #2A6B9D;
    /* Change color on hover */
    transform: scale(1.1);
    /* Scale the button on hover */
}

/* Text Logo Animation */
.animated-text {
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Additional Text Logo Styling */
.text-logo {
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}