body {
   background-color: #f2f2f2; /* Set the background color to light grey */
   font-family: 'Courier New';
}

.container {
   width: 100%;
   max-width: 500px; /* Adjust the max-width as needed */
   margin: 50px auto; /* Center the container horizontally */
   background-color: #ffffff; /* Set the background color of the container */
   border-radius: 24px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.container h2 {
   color: #342E37; /* Adjust text color */
   text-align: center;
   padding: 8px 0;
   border-bottom: solid 1px #342E37; /* Adjust border color */
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container form {
   margin-top: 20px;
   padding: 0 20px; /* Adjust padding */
}

.container form input,
.container form button {
   width: 100%;
   height: 40px;
   padding: 5px;
   border: none;
   outline: none;
   margin-top: 10px;
   background-color: #f9f9f9; /* Set the background color of input fields */
   color: #342E37; /* Adjust text color */
   border-radius: 12px;
   font-family: 'Times New Roman', Times, serif;
}

.container form input::placeholder {
   color: #AAAAAA; /* Adjust placeholder color */
}

.container form button {
   cursor: pointer;
   font-size: 20px;
   margin-top: 20px;
   background-color: #3C91E6; /* Adjust button background color */
   color: #F9F9F9; /* Adjust button text color */
   border-radius: 12px;
   transition: background-color 0.3s ease;
}

.container form button:hover {
   background-color: #2676C3; /* Darker background color on hover */
}
